.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background: theme('colors.primary-1');
    outline: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 5px;
}

.slider:hover {
    background: theme('colors.primary-2');
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: theme('colors.primary-1-text');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 100%;
    background: theme('colors.primary-1-text');
    cursor: pointer;
}
