.form-group input, .form-group textarea, .form-group select {
    border: none;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

.form-group .input-field, .form-group .combo-field {
    border: none;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}